@using CdiscountMarketPlaceApi_WebApp.Enumeration
@using CdscntMkpApiReference_Prod;


@model CdiscountMarketPlaceApi_WebApp.Models.OfferManager.GetOfferListPaginatedRequest


@{
    ViewData["Title"] = "Index";
}


@using (Html.BeginForm("GetOfferListPaginatedMessage", "OfferManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <br />
    <br />
    <h2>GetProductListByIdentifier</h2>
    <div class="col-xs-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Identification</h3>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <br />
                    <div role="tabpanel" class="tab-pane active" id="loginTab">
                        <div class="form-group">
                            <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
                            @Html.TextBoxFor(model => model._Login, new { @id = "login", @class = "form-control", @placeholder = "Login" })
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            @Html.TextBoxFor(model => model._Password, new { @id = "password", @class = "form-control", @placeholder = "Password", @type = "password" })
                        </div>
                        <div class="form-group">
                            <label for="token"><span class="glyphicon glyphicon-qrcode"></span> Token</label>
                            @Html.TextBoxFor(model => model._Token, new { @id = "token", @class = "form-control", @placeholder = "Token" })
                        </div>
                        <div class="form-group">
                            <label for="token"><span class="glyphicon glyphicon-qrcode"></span> Environment</label>
                            <br />
                            <p class="nav navbar-nav navbar-left">
                                @{
                                    var sessionEnv = Model._EnvironmentSelected;
                                    EnvironmentEnum envName;
                                    if (sessionEnv == null)
                                    {
                                        envName = EnvironmentEnum.Preproduction;
                                    }
                                    else
                                    {
                                        try
                                        {
                                            envName = (EnvironmentEnum)sessionEnv;
                                        }
                                        catch (InvalidCastException ex)
                                        {
                                            envName = EnvironmentEnum.Preproduction;
                                        }
                                    }
                                }
                                <select class="form-control" id="envName">
                                    @foreach (EnvironmentEnum env in Enum.GetValues(typeof(EnvironmentEnum)))
                                    {
                                        if (env == envName)
                                        {
                                            <option value="@env" selected="selected">@env</option>
                                        }
                                        else
                                        {
                                            <option value="@env">@env</option>
                                        }
                                    }
                                </select>
                            </p>
                            <br />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Parameters</h3>
        </div>
        <div class="panel-body">

            <label for="Select Filter Criterion"><span class="glyphicon glyphicon-user"></span> Select Filter Criterion</label>
            @Html.DropDownListFor(m => m._OfferFilterPaginated.OfferFilterCriterion, new SelectList(Enum.GetValues(typeof(OfferFilterCriterion))),
                    "Select Filter Criterion")
            <label for="Select Sort Order"><span class="glyphicon glyphicon-user"></span> Select Sort Order</label>
            @Html.DropDownListFor(m => m._OfferFilterPaginated.OfferSortOrder, new SelectList(Enum.GetValues(typeof(OfferSortOrder))),
                    "Select Sort Order")
            <label for="OfferPoolId"><span class="glyphicon glyphicon-user"></span> OfferPoolId</label>
            @Html.TextBoxFor(model => model._OfferFilterPaginated.OfferPoolId, new { @id = "poolId", @class = "form-control", @placeholder = "poolId" })
            <label for="PageNumber"><span class="glyphicon glyphicon-user"></span> PageNumber</label>
            @Html.TextBoxFor(model => model._OfferFilterPaginated.PageNumber, new { @id = "PageNumber", @class = "form-control", @placeholder = "PageNumber" })
           
        </div>
    </div>


        <div class="form-group">
            <input type="submit" value="Send" class="btn btn-info" />
            <input type="reset" value="Reset" class="btn btn-default" />
        </div>
                                    }
